html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100%;
    background: url(../content/background.jpg);
    font-family: @font-bold;
    font-size: @font-size-medium;
    word-wrap: break-word;
}

.container {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 110px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(../content/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.main-container {
    background: white;
    max-width: 1240px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;    
    padding: @main-container-padding;
    box-shadow: 0px 8px 15px 0 gray;
}

.section-label {
    background-color: @additional-color;
    width:100%;
    h3 {
        margin: 0;
        padding: @section-label-padding;
        font-size: @font-size-medium;
        word-spacing: 1px;
		line-height:30px;
        text-transform:uppercase;
		.text-overflow-ellipsis;
    }
}

.section.header {
    min-width: 600px;
    min-height: 231px;
    .red-rectangle {
        float:left;
        margin: 0;
        width: 302px;
        height: 231px;
        background-color: @main-color;
    }

    .white-rectangle {
        position: relative;
        top: 20px;
        left: 75px;
        width: 195px;
        height: 190px;
        background-color: white;
    }

    .name {
        display:inline-block;
        margin-left: 15px;
		margin-top: 111px;

        h1 {
            margin: 0;
            color: black;
            font-size: 59px;
            letter-spacing: -2.9px;
        }

        h2 {
            margin-top: -6px;
            margin-left: 5px;
            color: @main-color;
            font-size: 42px;
            font-family: @font;
            letter-spacing: -3.3px;
            word-spacing: 2.5px;
        }
    }
}

.section.about {
	.column-style;

    p {
        margin: 0;
        padding: 7px 0 20px 0;
        font-size: @font-size-medium;
        word-spacing: 1px;
        line-height: 25.5px;
    }
}

.section.personal-data {	
    .column-style;
    margin-top: 50px;

    form{
		display:inline-block;
        margin-top: 27px;
    }

    .property-label {
        max-width: 300px;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .input-text {
        display:inline-block;
        /*min-width: 212px;*/
        max-width: 300px;
        font-size: @font-size-medium;
        font-family:@font;
        color: black;
        background: white;
        border: none;
    }
}

.cell-year {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 118px;

    h4 {
        font-family: @font;        
        font-size: @font-size-large;    
        margin-top: 0px;
        letter-spacing: 0px;
        word-spacing: 1px;
        line-height: 25.5px;
    }
}

.cell-content {
    display: inline-block;
    font-family: @font;        
    font-size: 24px;
    letter-spacing: 2.4px;
    word-spacing: 1.9px;
    line-height: 24px;
    padding: 0 0 0 27px;
    width: 228px;

    h4 {
        margin: 0;
        color: @main-color;
    }

    h5 {
        margin: 0;
    }

    p {
        margin: 0;
        color: black;
        line-height: 27px;
    }
}


.section.education,
.section.work-experience{
    .column-style;
    ul {
        list-style-type: none;
        padding: 0px;
        margin-top: 40px;
    }
    li{
        width: 100%;        
        margin: 24px 0 27px 0; 
        &::before{
            display: inline-block;
            float: left;
            width: 40px;
            width: 25px;
            height: 25px;
            background: #cf4541;
            margin: 5px 0 0 15px;
            /* Rotate */
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            /* Rotate Origin */
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
            /*align:center;*/
            content: "";
        }
    }
    
}


.section.work-experience {

    li {
        margin: 18px 0 0 0;
    }

    .cell-year {
        width: 135px;
    }

    .cell-content {
        line-height: 25px;
        padding: 0 0 0 16px;
        width: 413px;
    }
}

.section.skills {
	.column-style;

    ul {
        padding:0;      
        list-style-type: none;
    }

    li {
        padding: 23px 0;
        width: 100%;

        &:nth-child(4n) {
            padding-bottom: 65px;
        }
    }

    .cell-label {
        font-size: @font-size-medium;
    }
}

.percent100 {    
    .progress(100%, @main-color);
}

.percent95 {
    .progress(95%, @main-color);
}

.percent90 {
    .progress(90%, @main-color);
}

.percent75 {
    .progress(75%, @main-color);
}

.percent65 {
    .progress(65%, @main-color);
}

.percent60 {
    .progress(60%, @main-color);
}

.contacts {
    width: 100%;
    display: inline-block;	
    margin:@contacts-margin;
}

.contact-item {
    width: 33%;
    display: inline-block;
    vertical-align: top;

    a {
        vertical-align: top;
        display: inline-block;
        color: @main-color;
        font-size: 30px;
        letter-spacing: -0.5px;
        text-decoration: none;

        &::before{
            position: relative;
            top: 18px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: @main-color;
            display: inline-block;
            align: center;
        }
    }
}

.contact-item.left a::before{    
    content: url("../content/twitlogo.png");
}

.contact-item.center a::before {
    content: url("../content/telephone.png");
}

.contact-item.right a::before {
    content: url("../content/mail.png");
}