body {
    background-color: black;
}

h3 {
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
}

form {
    border: 1px solid black;
    padding: 10px;
}

label {
    width: 35%;
    display: inline-block;
}

fieldset {
    border: none;
    border-bottom: 1px dotted blue;
}

div.reg-form {
    background-color: lightblue;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

div.reg-btn {
    margin: 10px 0 0 0;
    text-align: center;
}